@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

html, body {
    font-family: 'Source Code Pro', monospace;
}

.landingText {
    padding: 10px;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
}

.header-color {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.initial {
    background-image: url('./landing_bg.png');
    background-size: cover;
    color: white;
    text-align: center;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;

    background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
}

.navbar-dark .navbar-nav .nav-link:hover{
  color: white;
}

.navbar-dark .navbar-nav .nav-link:visited {
    color: white;
}

.navbar-brand {
    color: white;
}

a:hover {
    text-decoration: none;

}

hr {
  height: 2px;
}

.titleHr {
    width: 30%;
    background-color: rgb(242, 71, 89);
}

.landingHr {
    background-color: white;
    width: 40%;
}

.bgDark {
    background-color: rgb(238, 238, 238);
}

.aTab {
    background-image: url("./tab_images/android_logo(1).png");
    background-position: center;

}

.wTab {
    background-image: url("./tab_images/web(1).png");
    background-position: center;
}

.pTab {
    background-image: url("./tab_images/python(1).png");
    background-position: center;
    background-repeat: no-repeat;
}


.aboutWrapper {
  padding-top: 48px;
  padding-bottom: 48px;
}

.aboutText h4 {
  font-size: 12pt;
}


#aboutTitle {
    text-align: center;
}

.contactIconContainer {
  float: left;
}

.icons {
  text-align: center;
  margin-left: -11px;
}

#myPic {
    width: 200px;
    float: left;
    margin-right: 10px;

}

.fab {
  padding: 5px;
  color: black;
}

.fas {
  padding: 5px;
  color: black;
}

.proWrapper {
  padding-top: 48px;
  padding-bottom: 48px;
}

.proBorder {
    border:solid rgb(221, 221, 221);
}

#proTitle {
    text-align: center;
}

.skillsWrapper {
  padding-top: 48px;
  padding-bottom: 48px;
}

.skillsImg {
  width: 100px;
  padding: 10px;
}

.skillsHr {
  background-color: red;
  width: 80%;
  margin-left: -5px;
}

#skills {
  text-align: center;
}

.skills h4 {
  padding-top: 5px;
}

.resWrapper {
    padding-top: 48px;
    padding-bottom: 48px;
}

.resWrapper h1 {
    text-align: center;
}

.pdfImg {
  height:50px;
  margin: auto;
  display: block;
}

.resumeLinkWrap {
  text-align: center;
}

.resumeLinkWrap a {
  color: black;
}

.resumeLinkWrap a:hover {
  color: black;
}

.contactWrapper {
  background-image: url('./landing_bg.png');
  background-size: cover;
  padding-top: 48px;
  padding-bottom: 48px;
}

#bottomText {
  margin-top: 300px;
  margin-bottom: 50px;
}

#form {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 300px;
}
